# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
*.orig
.history

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Generated plugin and project files
**/GeneratedPluginRegistrant.*
**/generated_plugin_registrant.*
**/flutter_export_environment.sh

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/*.iml

# Linux / macOS / Windows build
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# Web
web/.dart_tool/

# Misc
coverage/
**/doc/api/
*.symbols
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
